{% extends 'app/base.html' %}

{% block content %}
    <!-- Title Elements -->
    <h1 class="title">Melody Lab</h1>
    <h2 class="subtitle">To get started, upload an audio file</h2>

    <!-- Upload Form -->
    <div class="container">
        <form method="post" enctype="multipart/form-data" id="fileUploadForm">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- Submit Button -->
            <div class="container">
                <button type="submit" class="button" id="homePageSubmitBTN">Submit</button>
            </div>
        </form>
    </div>

    <a href="{% url 'logout' %}" style="color: white;">Log Out</a>

{% endblock content %}

